* {
    margin: 0 auto;
}

html,
body {
    overflow-x: hidden;
    background-color: #E5E5E5;
}


/* Main Header */

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 300;
    padding: 1rem;
    transition: all .3s ease-in-out;
    min-height: 20px;
    max-height: 500px;
    overflow: auto;
}

.main-nav {
    width: 35%;
}

.main-nav__items {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.main-header__brand img {
    margin-left: -32px;
}

.main-header__brand .brand__name {
    color: #FFF;
    font-weight: 400;
    font-size: 1.25rem;
}

.main-header__brand .brand__lastname {
    color: #FFF;
    font-weight: 700;
    font-size: 1.25rem;
}

.main-nav__item a {
    color: #FFF;
    font-family: Gotham;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 5px;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    border-bottom: 4px solid #51ac6b;
}

.main-header__cta {
    border: 1px solid #51ac6b;
    border-radius: 3px;
    background-color: transparent;
    color: #51ac6b;
    font-size: 0.75rem;
    padding: 8px 24px;
    vertical-align: middle;
    cursor: pointer;
    font-family: Gotham;
    font-weight: 400;
    font-size: 1rem;
}

.main-header__cta:hover {
    border: 1px solid #FFF;
    background-color: hsla(137, 36%, 50%, 0.7);
    ;
    color: #FFF;
    vertical-align: middle;
    cursor: pointer;
}

.main-header i {
    display: none;
    color: #FFF;
    font-size: 1.5rem;
}

.mobile-nav {
    width: 100%;
    display: none;
}

.sticky {
    background-color: #000;
}

.mobile-nav ul {
    padding: 0;
}

.moibile-nav__items {
    display: inline-block;
    width: 100%;
}

.mobile-nav__items li {
    display: block;
    text-align: center;
    width: 80%;
    padding: 1rem 0;
    border-bottom: 0.25px solid rgba(255, 255, 255, 0.3);
}

.mobile-nav__item a {
    color: #FFF;
    text-decoration: none;
    font-family: Gotham;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 5px;
}

.mobile-nav__item a:hover,
.mobile-nav__item a:active {
    border-bottom: none;
}

.mobile-nav__items li:hover,
.mobile-nav__items li:active {
    border-bottom: 3px solid hsla(137, 36%, 50%, 0.6);
    cursor: pointer;
}

.main-header .main-header__mobile-cta {
    border: 2px solid #51ac6b;
    border-radius: 5px;
    background-color: transparent;
    color: #51ac6b;
    font-family: Gotham;
    font-size: 1rem;
    font-weight: 400;
    padding: 5px 16px;
    vertical-align: middle;
    cursor: pointer;
    width: 80%;
    margin: 2rem 10%;
    align-self: center;
    display: none;
}

.main-header__mobile-cta:hover {
    border: 1px solid #FFF;
    background-color: hsla(137, 36%, 50%, 0.7);
    color: #FFF;
    vertical-align: middle;
    cursor: pointer;
}


/* Cover Section */

.cover {
    color: white;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)), url(./assets/mian-header-background.jfif);
    filter: grayscale(100%);
    background-size: cover;
    background-position: center bottom;
}

@font-face {
    font-family: GoldenPlains;
    src: url(./assets/golden-plains.ttf)
}

@font-face {
    font-family: Gotham;
    src: url(./assets/gotham-thin.otf)
}

@font-face {
    font-family: Gotham Book;
    src: url(./assets/GothamBook.ttf)
}

.cover__text {
    text-align: center;
    margin-bottom: 4rem;
}

.cover__pretitle {
    font-family: GoldenPlains;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
}

.cover__title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
}

.cover__subtitle {
    font-family: Gotham;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}


/* Slider */

.card {
    position: relative;
}

.slick-track {
    margin-left: -25px !important;
}

.slick-slide img {
    margin-right: 0 auto;
    max-width: 100px;
    vertical-align: middle;
}

.item {
    padding: 15px;
    outline: none;
}

.slick-list.draggable {
    margin: 0 auto;
    align-self: center;
}

.item-inner {
    background: #FFF;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    padding: 2rem;
}

.item-inner .quote-container__quote {
    font-size: 0.8rem;
    text-align: justify;
    font-weight: 400;
    font-family: Gotham Book;
    line-height: 24px;
    font-style: italic;
}

.item-inner .quote-container__quotee {
    font-size: 0.8rem;
    font-family: Gotham Book;
    font-weight: 600;
    line-height: 36px;
    margin: 0;
}

.social {
    margin-top: 50px;
}

.social a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    background-color: #FFF;
    color: #ff6c00;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    margin: 0 5px;
    transition: all ease 0.5s;
}

.social a:hover {
    transform: translateY(-10px);
}

.slick-slide {
    transform: scale(0.8);
    opacity: 0.3;
    transition: all ease 0.5s;
    width: 50vw;
    box-sizing: border-box;
}

.slick-slide.slick-current {
    transform: scale(1);
    opacity: 1;
}


/* SLIDER-CONTROLS */

.slick-next {
    top: 100px !important;
    left: 1% !important;
}

.slick-prev {
    top: 100px !important;
    left: 48% !important;
}

.slick-next:before,
.slick-prev:before {
    color: #000 !important;
}

.slick-list {
    position: absolute;
    top: -90px;
    left: 0;
}


/* About Section */

.about {
    height: 55rem;
    background-color: #E5E5E5;
    position: relative;
    background-image: url("./assets/nathan-about.png");
    background-repeat: no-repeat;
    background-size: 500px 500px;
    background-position: 25% 120%;
    z-index: 100;
}

.about__presentation {
    width: 25%;
    position: absolute;
    left: 10%;
    top: 20%;
}

.about__presentation h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 700;
}

.about__presentation div {
    border-bottom: 8px solid #000;
    width: 15%;
    margin: 25px 0;
}

.about__presentation h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.about .about__nate-ilustration {
    position: absolute;
    left: 70px;
    bottom: -80px;
    width: 45%;
}

.textbox-container {
    position: relative;
}

.about .about__textbox-white {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 40%;
    height: 30%;
    z-index: 50;
}

.about .about__textbox-white-2 {
    display: none;
}

.about .about__textbox-black {
    position: absolute;
    top: 31.5%;
    left: 40.5%;
    width: 40%;
    height: 30%;
    z-index: 49;
}

.about .about__textbox-black-2 {
    display: none;
}

.about__phrase-container {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 40%;
    height: 30%;
    z-index: 51;
}

.about .about__phrase {
    text-align: justify;
    padding: 2rem;
    vertical-align: middle;
    box-sizing: border-box;
    font-family: Gotham Book;
    font-size: 16px;
    line-height: 40px;
    transition: all ease 0.5s;
    display: none;
}

.about_arrow {
    width: 20px;
    position: absolute;
    bottom: 40px;
    right: 25px;
}

.about_arrow:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all ease 0.5s;
}

.dots-container {
    display: flex;
    width: 100px;
    height: 20px;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 65%;
    left: 40%;
    z-index: 60;
}

.dot {
    background-color: #000;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.dot:hover {
    cursor: pointer;
}

.selected-phrase {
    display: inline-block !important;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.selected {
    background-color: #C4C4C4;
    border: 1px solid #C4C4C4;
}

.leaves-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.leaves-container div {
    position: absolute;
    display: block;
    z-index: 200;
}

.leaves-container div:nth-child(1) {
    left: 20%;
    animation: animate 15s linear infinite;
    animation-delay: -7s;
}

.leaves-container div:nth-child(2) {
    left: 50%;
    animation: animate 20s linear infinite;
    animation-delay: -5s;
}

.leaves-container div:nth-child(3) {
    left: 70%;
    animation: animate 20s linear infinite;
    animation-delay: 0s;
}

.leaves-container div:nth-child(4) {
    left: 90%;
    animation: animate 15s linear infinite;
    animation-delay: -5s;
}

@keyframes animate {
    0% {
        opacity: 0;
        top: -10%;
        transform: translateX(20px) rotate(0deg);
    }
    10% {
        opacity: 1;
    }
    20% {
        transform: translate(-20px) rotate(45deg);
    }
    40% {
        transform: translateX(-20px) rotate(90deg);
    }
    60% {
        transform: translateX(20px) rotate(180deg);
    }
    80% {
        transform: translateX(-20px) rotate(180deg);
    }
    100% {
        top: 110%;
        transform: translateX(-20px) rotate(225deg);
    }
}


/* .leaf12 {
    position: absolute;
    top: 18%;
    left: 75%;
    z-index: 65;
}

.leaf3 {
    position: absolute;
    top: 70%;
    left: 80%;
    z-index: 65;
}

.leaf6 {
    position: absolute;
    top: 77%;
    left: 50%;
    z-index: 65;
}

.leaf9 {
    position: absolute;
    top: 53%;
    left: 4%;
    z-index: 65;
} */

.triangle-1 {
    width: 100%;
    height: 600px;
    background-color: black;
    position: absolute;
    bottom: -1px;
    left: 0;
    clip-path: polygon(50% 85%, 0% 100%, 100% 100%);
}


/* Services Section */

.services {
    background-color: black;
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
}

.services__title-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    line-height: 72px;
}

.services__title-container h1 {
    width: 100%;
    font-family: Gotham Book;
    font-size: 4rem;
    font-weight: 400;
    color: #FFF;
    text-align: center;
    margin-top: 0;
}

.services__title-container div {
    width: 10%;
    border-bottom: 8px solid #FFF;
    margin-top: 16px;
}

.services__cards-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    padding-bottom: 6rem;
}

.service-card {
    width: 28%;
    height: 270px;
    background-color: #FFF;
    box-sizing: border-box;
    margin: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem;
}

.service-card .service-card__title {
    width: 100%;
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    line-height: 48px;
}

.service-card .service-card_description {
    width: 100%;
    font-family: Gotham Book;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    line-height: 28.8px;
}

.service-card:hover {
    transform: scale(1.15);
    transition: all ease 0.5s;
}

.services .card {
    display: none;
}


/* Roles Section */

.roles {
    height: 50rem;
    background-color: #E5E5E5;
    position: relative;
}

.roles__container {
    position: relative;
    height: 50rem;
    width: 100%;
}

.roles__list-mobile {
    display: none;
}


/* .roles__container img {
    position: absolute;
    top: 50%;
    right: 40%;
    width: 300px;
    z-index: 200;
} */

.roles__hats-container {
    position: absolute;
    top: 0;
    right: 20%;
    width: 350px;
    height: 600px;
    /* background-color: red; */
}

.roles__hats-container div:nth-child(1) {
    position: absolute;
    bottom: 33%;
    right: 0;
    z-index: 11;
    /* display: none; */
}

.roles__hats-container div:nth-child(2) {
    position: absolute;
    bottom: 36%;
    right: 0;
    z-index: 11;
    /* display: none; */
}

.roles__hats-container div:nth-child(3) {
    position: absolute;
    bottom: 50%;
    right: 0;
    z-index: 11;
    /* display: none; */
}

.roles__hats-container div:nth-child(4) {
    position: absolute;
    bottom: 60%;
    right: 0;
    z-index: 11;
    /* display: none; */
}

.roles__hats-container div:nth-child(5) {
    position: absolute;
    bottom: 70%;
    right: 0;
    z-index: 11;
    /* display: none; */
}

.roles__hats-container div:nth-child(6) {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    /* display: none; */
}

.roles__hats-container img {
    width: 350px;
}

.roles__hats-container-mobile {
    display: none;
}

.show-hat {
    display: inline-block !important;
}

.roles__container .roles-info {
    position: absolute;
    top: 10%;
    left: 20%;
}

.roles__container .roles-info h1 {
    font-family: Gotham Book;
    font-size: 60px;
    font-weight: 700;
    line-height: 52px;
    width: 70%;
    text-align: left;
    margin: 0;
    margin-bottom: 32px;
}

.roles__divisor {
    display: none;
}

.roles__container .roles-info ul li {
    font-family: Gotham Book;
    font-size: 30px;
    font-weight: 400;
    line-height: 46px;
    list-style: none;
}

.roles__container .roles-info ul li i {
    margin-left: -45px;
    margin-right: 10px;
}

.role-unselected {
    opacity: 0.3;
}


/* Work Section */

.work {
    background-color: #E5E5E5;
    position: relative;
}

.work__title {
    font-family: Gotham Book;
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
    margin-left: 5%;
}

.work__division {
    border-bottom: 8px solid #000;
    width: 15%;
    margin: 25px 0;
    display: none;
}

.work__menu-container {
    display: flex;
    width: 90%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 32px;
}

.work__menu-container p,
.work__menu-mobile-container p {
    font-family: Gotham Book;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    margin-right: 20px;
    margin-top: 8px;
}

.work__menu-container button {
    margin: 0;
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 0 5px;
    background-color: #F3F2F2;
    border: none;
    font-family: Gotham Book;
    font-size: 16px;
    line-height: 24px;
}

.work__menu-container button:hover,
.work__menu-container button:active {
    cursor: pointer;
    background-color: #000;
    color: #F3F2F2;
}

.work__menu-mobile-container {
    display: none;
}

.work__cards-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.work-card {
    width: 28%;
    height: 300px;
    background-color: #FFF;
    box-sizing: border-box;
    margin: 20px;
}

work-card__image-container {
    width: 100%;
}

.work-card img {
    width: 100%;
    max-height: 150px;
}

.work-card .work-card__text-container {
    padding-left: 1rem;
    padding-top: 1rem;
}

.work-card .work-card__text-container .work-card__title {
    font-family: Playfair Display;
    font-weight: 400;
    font-size: 12px;
    line-height: 40px;
}

.work-card .work-card__text-container .work-card__description {
    font-family: Gotham Book;
    font-size: 16px;
    line-height: 24px;
}

.work .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work .see-more-button {
    padding: 0.6rem 2.5rem;
    background-color: #E5E5E5;
    color: #51AC6B;
    border: 2px solid #51AC6B;
    border-radius: 5px;
    font-family: Gotham Book;
    font-size: 18px;
    line-height: 22px;
    margin-top: 2rem;
    margin-bottom: 12rem;
}

.work .see-more-button:hover {
    cursor: pointer;
    color: #E5E5E5;
    background-color: #51AC6B;
}

.triangle-3 {
    width: 100%;
    height: 500px;
    background-color: #000;
    position: absolute;
    bottom: -1px;
    left: 0;
    clip-path: polygon(50% 100%, 0% 100%, 0 85%);
}

.triangle-4 {
    width: 100%;
    height: 500px;
    background-color: #000;
    position: absolute;
    bottom: -1px;
    right: 0;
    clip-path: polygon(50% 100%, 100% 100%, 100% 85%);
}


/* Footer section */

footer {
    height: 32rem;
    background-color: #000;
    position: relative;
    /* clip-path: polygon(50% 10%, 100% 0, 100% 99%, 0 100%, 0 0); */
}

footer .footer__image-container {
    width: 201px;
    height: 239px;
    border: 10px solid #000;
    position: absolute;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -110px;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #000;
    z-index: 100;
}

footer .footer__image-container img {
    width: 100%;
}

footer h1 {
    font-family: Playfair Display;
    color: #FFF;
    font-size: 48px;
    line-height: 72px;
    width: 100%;
    text-align: center;
    padding-top: 12rem;
}

footer .footer__logos-container {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

footer .footer__logos-container i {
    color: white;
    font-size: 20px;
}

footer .footer__logos-container div {
    height: 16px;
    border-left: 2px solid #FFF;
}

footer .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .resume-button {
    padding: 0.6rem 2.5rem;
    color: #FFF;
    background-color: #51AC6B;
    border-radius: 5px;
    font-family: Gotham Book;
    font-size: 18px;
    line-height: 22px;
    margin-top: 2rem;
}

footer .resume-button:hover {
    background-color: #FFF;
    color: #51AC6B;
    border: 2px solid #51AC6B;
}


/* Call to Action Section */

.cta-section {
    height: 1000px;
    background: #51AC6B;
    position: relative;
}

.cta-section__header {
    position: absolute;
    top: 0;  
    left: 0;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-section__header a {
    flex: 1;
    margin-left: 10%;
}

.cta-section__header i {
    color: #FFF;
    font-size: 1.5rem;
    flex: 1;
    text-align: right;
    margin-right: 5%;
}

.cta__form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.cta__form label {
    font-size: 24px;
    font-family: Gotham Book;
    line-height: 23px;
    margin-bottom: 16px;
    margin-left: 0;
    color: #FFF;
}

.cta__form input {
    width: 90%;
    padding: 16px;
    font-size: 72px;
    line-height: 69px;
    background-color: #51AC6B;
    border: none;
    border-bottom: 2px solid #FFF;
    margin-left: 0;
    color: #FFF;
}

::placeholder {
    color: #FFF;
}

/* Responsive Desing Wide Screen  */

@media screen and (max-width: 1100px) {
    .about {
        background-position: 15% 120%;
    }
    .about .about__textbox-white {
        width: 50%;
    }
    .about .about__textbox-black {
        width: 50%;
    }
    .about__phrase-container {
        width: 50%;
    }
    .roles__container .roles-info {
        left: 15%;
    }
    .roles__hats-container {
        right: 15%;
    }
}


/* Responsive Desing Tablet*/

@media screen and (max-width: 800px) {
    /* Cover Tablet */
    .cover__pretitle {
        font-size: 1.2rem;
        line-height: 32px;
    }
    .cover__title {
        font-size: 2.5rem;
        line-height: 48px;
    }
    .cover__subtitle {
        font-size: 1rem;
        line-height: 48px;
    }
    /* Slider Tablet */
    .item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slick-slide {
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slick-slide img {
        margin: 0 auto;
        max-width: 120px;
        vertical-align: middle;
    }
    .item-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 120px;
        margin-right: 0;
    }
    .slick-list {
        position: absolute;
        top: -140px;
        left: 0;
    }
    .quote-container {
        padding: 2rem;
    }
    .slick-dots {
        position: absolute;
        top: 75px;
        left: 0;
    }
    .slick-dots li button:before {
        color: #51AC6B !important;
    }
    /* About Tablet */
    .about {
        background-size: 400px 400px;
        background-position: 15% 110%;
        height: 50rem;
    }
    .about__presentation h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
    .about__presentation h3 {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    .about .about__textbox-white {
        top: 37%;
        left: 43%;
    }
    .about .about__textbox-black {
        top: 38.5%;
        left: 43.5%;
    }
    .about__phrase-container {
        top: 37%;
        left: 43%;
    }
    .about .about__phrase {
        font-size: 14px;
        line-height: 25px;
    }
    .dots-container {
        height: 15px;
        top: 70%;
        left: 43%;
    }
    .dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }
    .about_arrow {
        bottom: 30px;
    }
    /* Services Section Tablet */
    .service-card {
        width: 40%;
        height: 220px;
    }
    .service-card .service-card__title {
        font-size: 2rem;
        line-height: 36px;
    }
    .service-card .service-card_description {
        font-size: 1rem;
        line-height: 24px;
    }
    /* Roles Section Tablet */
    .roles__container {
        width: 90%;
    }
    .roles__hats-container {
        right: 5%;
    }
    .roles__container .roles-info h1 {
        font-size: 64px;
        line-height: 56px;
        width: 70%;
    }
    .roles__container .roles-info ul li {
        font-size: 28px;
        line-height: 40px;
    }
    .roles__container .roles-info {
        left: 1%;
    }
    .roles__hats-container {
        right: 1%;
    }
    /* Work Section Tablet */
    .work__title {
        font-size: 36px;
        line-height: 60px;
    }
    .work__menu-container button {
        font-size: 14px;
        /* line-height: 24px; */
    }
    .work-card {
        width: 40%;
        height: 300px;
    }
    .work .see-more-button {
        padding: 0.4rem 2rem;
        font-size: 16px;
    }
}


/* Responsive Desing Smarthphone*/

@media screen and (max-width: 600px) {
    /* Header Mobile */
    .main-header {
        display: inline-block;
        width: 100%;
        height: auto;
        background-color: #000;
        padding: 0;
    }
    .main-header i {
        display: inline-block;
        text-align: right;
        width: 10%;
        vertical-align: middle;
        height: 50px;
        cursor: pointer;
    }
    .main-header__brand {
        width: 70%;
        margin: 0;
        display: inline-block;
        margin: 10px 20px;
    }
    .main-header__brand img {
        margin-left: 0;
        margin-top: 10px;
    }
    .main-nav {
        display: none;
    }
    .main-header__cta {
        display: none;
    }
    /* Cover Mobile */
    .cover {
        height: 30rem;
    }
    .cover__text {
        text-align: center;
        margin-bottom: 4rem;
        padding: 0 2rem;
    }
    .cover__pretitle {
        font-family: 'Dancing Script', cursive;
        font-size: 1.2rem;
        line-height: 32px;
    }
    .cover__title {
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 48px;
    }
    .cover__subtitle {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 48px;
    }
    /* Slider Mobile */
    .item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slick-slide {
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slick-slide img {
        margin: 0 auto;
        max-width: 120px;
        vertical-align: middle;
    }
    .item-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 200px;
        margin-right: 0;
    }
    .slick-list {
        position: absolute;
        top: -140px;
        left: 0;
    }
    .quote-container {
        padding: 1rem;
    }
    .slick-dots {
        position: absolute;
        top: 135px;
        left: 0;
    }
    .slick-dots li button:before {
        color: #51AC6B !important;
    }
    /* About Section Mobile */
    .about {
        height: 60rem;
        background-image: url("./assets/nathan-about.png");
        background-repeat: no-repeat;
        background-size: 360px 370px;
        background-position: 10% 65%;
    }
    .about__presentation {
        width: 70%;
    }
    .about__presentation h1 {
        width: 90%;
        font-size: 3rem;
        line-height: 3rem;
    }
    .about__presentation div {
        margin-left: 5%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .about__presentation h3 {
        width: 90%;
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
    .about .about__textbox-white-2 {
        position: absolute;
        bottom: 8%;
        left: 5%;
        width: 90%;
        height: 20%;
        z-index: 50;
        display: inline-block;
    }
    .about .about__textbox-black-2 {
        position: absolute;
        bottom: 7%;
        left: 5.7%;
        width: 90%;
        height: 20%;
        z-index: 49;
        display: inline-block;
    }
    .about__phrase-container {
        /* position: absolute; */
        top: 72.5%;
        left: 5%;
        width: 90%;
        height: 20%;
        z-index: 51;
        box-sizing: border-box;
    }
    .about .about__phrase {
        padding: 0.8rem;
        font-size: 14px;
        line-height: 24px;
    }
    .dots-container {
        left: 35%;
        top: 94%;
        padding-bottom: 3rem;
    }
    .leaf,
    .triangle-1,
    .about .about__textbox-white,
    .about .about__textbox-black,
    .about_arrow {
        display: none;
    }
    /* Service Section Mobile */
    .services {
        background-color: black;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        height: 32rem;
    }
    .services__title-container h1 {
        margin-top: 32px;
    }
    .services__title-container div {
        width: 20%;
    }
    .service-card {
        width: 80%;
    }
    .services__cards-container {
        display: none;
    }
    /* Slider Services */
    .services .card {
        position: relative;
        margin-top: 160px;
        display: block;
    }
    .services .slick-track {
        margin-left: -20px !important;
    }
    .services .item {
        padding: 15px;
        outline: none;
    }
    .services .slick-list.draggable {
        margin: 0 auto;
        align-self: center;
    }
    .services .slick-slide {
        width: 90vw;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .service-card {
        width: 100%;
    }
    .services .slick-slide.slick-current {
        transform: scale(1);
        opacity: 1;
    }
    /* Roles Section Mobile */
    .roles__container {
        width: 94%;
        justify-content: space-between;
    }
    .roles__container img {
        width: 140px;
        /* margin-top: 200px; */
    }
    .roles__hats-container {
        display: none;
    }
    .roles__container .roles-info {
        top: 8%;
        left: 5%;
    }
    .roles__container .roles-info h1 {
        width: 60%;
        font-size: 48px;
        margin-bottom: 5px;
    }
    .roles__divisor {
        display: inline-block;
        width: 20%;
        border-bottom: 8px solid #000;
        text-align: left;
    }
    .roles__container .roles-info ul {
        padding-left: 0;
    }
    .roles__container .roles-info ul li {
        font-size: 20px;
        line-height: 60px;
        margin-right: 50px;
    }
    .roles__container .roles-info ul li i {
        display: none;
    }
    .roles__hats-container-mobile {
        position: absolute;
        top: 8%;
        right: 1%;
        width: 150px;
        height: 600px;
        display: block;
        /* background-color: red; */
    }
    .roles__hats-container-mobile div:nth-child(1) {
        position: absolute;
        bottom: 49%;
        right: 0;
        z-index: 11;
        /* display: none; */
    }
    .roles__hats-container-mobile div:nth-child(2) {
        position: absolute;
        bottom: 52%;
        right: 0;
        z-index: 11;
        /* display: none; */
    }
    .roles__hats-container-mobile div:nth-child(3) {
        position: absolute;
        bottom: 56%;
        right: 0;
        z-index: 11;
        /* display: none; */
    }
    .roles__hats-container-mobile div:nth-child(4) {
        position: absolute;
        bottom: 57%;
        right: 0;
        z-index: 11;
        /* display: none; */
    }
    .roles__hats-container-mobile div:nth-child(5) {
        position: absolute;
        bottom: 60%;
        right: 0;
        z-index: 11;
        /* display: none; */
    }
    .roles__hats-container-mobile div:nth-child(6) {
        position: absolute;
        bottom: 35%;
        right: 0;
        z-index: 10;
        /* display: none; */
    }
    .roles__hats-container-mobile img {
        width: 150px;
    }
    .roles__list {
        display: none;
    }
    .roles__list-mobile {
        display: block;
    }
    /* Work Section Mobile */
    .work__title {
        margin-left: 10%;
        width: 50%;
        line-height: 36px;
    }
    .work__division {
        display: block;
        margin-left: 10%;
    }
    .work__menu-container {
        display: none;
    }
    .work-card {
        width: 80%;
    }
    .work__menu-mobile-container {
        display: block;
        margin-left: 10%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-self: start;
        align-items: flex-start;
    }
    .work__menu-mobile-container p {
        margin-right: 0;
        margin-bottom: 8px;
    }
    /* Menu Mobile Select Styles */
    /* The container must be positioned relative: */
    .custom-select {
        position: relative;
        font-family: Gotham Book;
    }
    .custom-select select {
        display: none;
        /*hide original SELECT element: */
    }
    .select-selected {
        background-color: #F4F4F4;
        width: 250px;
        /* margin-left: -25px; */
    }
    /* Style the arrow inside the select element: */
    .select-selected:after {
        position: absolute;
        content: "";
        top: 14px;
        right: -70px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #01C7A3 transparent transparent transparent;
    }
    /* Point the arrow upwards when the select box is open (active): */
    .select-selected.select-arrow-active:after {
        border-color: transparent transparent #01C7A3 transparent;
        top: 7px;
    }
    /* style the items (options), including the selected item: */
    .select-items div,
    .select-selected {
        font-size: 18px;
        color: #000;
        padding: 8px 16px;
        border: 1px solid transparent;
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        cursor: pointer;
    }
    /* Style items (options): */
    .select-items {
        position: absolute;
        background-color: #F4F4F4;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
        width: 284px;
    }
    /* Hide the items when the select box is closed: */
    .select-hide {
        display: none;
    }
    .select-items div:hover,
    .same-as-selected {
        background-color: rgba(0, 0, 0, 0.1);
    }
    /* Footer Mobile */
    footer h1 {
        font-size: 32px;
    }
    footer .footer__logos-container {
        width: 35%;
    }
    footer .footer__logos-container i {
        font-size: 28px;
    }
}