* {
    margin: 0 auto;
}

html, body {
    background-color: #FFF;
}

/* Blog Header */

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 300;
    padding: 1rem;
    transition: all .3s ease-in-out;
    min-height: 20px;
    overflow: auto;
}

.main-nav {
    width: 35%;
}

.main-nav__items {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.main-header__brand img {
    margin-left: -32px;
    width: 120px;
}

.main-header__brand .brand__name {
    color: #FFF;
    font-weight: 400;
    font-size: 1.25rem;
}

.main-header__brand .brand__lastname {
    color: #FFF;
    font-weight: 700;
    font-size: 1.25rem;
}

.main-nav__item a {
    color: #FFF;
    font-family: Gotham Book;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 5px;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    border-bottom: 4px solid #51ac6b;
}

.main-header__cta {
    border: 1px solid #51ac6b;
    border-radius: 3px;
    background-color: transparent;
    color: #51ac6b;
    font-size: 0.75rem;
    vertical-align: middle;
    cursor: pointer;
    font-family: Gotham Book;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 123px;
    height: 40px;
    padding: 16px;
    transition: all ease 0.5s;
}

.main-header__cta:hover {
    background-color: hsla(137, 36%, 50%, 0.7);
    color: #fff;
    vertical-align: middle;
    transform: scale(1.15);
    cursor: pointer;
}

.main-header i {
    display: none;
    color: #FFF;
    font-size: 1.5rem;
}

.mobile-nav {
    width: 100%;
    visibility: hidden;
    transition: all 1s;
}

.sticky {
    background-color: #000;
}

.mobile-nav ul {
    padding: 0;
}

.moibile-nav__items {
    display: inline-block;
    width: 100%;
}

.mobile-nav__items li {
    display: block;
    text-align: center;
    width: 80%;
    padding: 1rem 0;
    border-bottom: 0.25px solid rgba(255, 255, 255, 0.3);
}

.mobile-nav__item a {
    color: #FFF;
    text-decoration: none;
    font-family: Gotham;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 5px;
}

.mobile-nav__item a:hover,
.mobile-nav__item a:active {
    border-bottom: none;
}

.mobile-nav__items li:hover,
.mobile-nav__items li:active {
    border-bottom: 3px solid hsla(137, 36%, 50%, 0.6);
    cursor: pointer;
}

.main-header .main-header__mobile-cta {
    border: 2px solid #51ac6b;
    border-radius: 5px;
    background-color: transparent;
    color: #51ac6b;
    font-family: Gotham Book;
    font-size: 1rem;
    font-weight: 400;
    padding: 5px 16px;
    vertical-align: middle;
    cursor: pointer;
    width: 80%;
    margin: 2rem 10%;
    align-self: center;
    visibility: hidden;
    transition: all 1s;
}

.main-header__mobile-cta:hover {
    border: 1px solid #FFF;
    background-color: hsla(137, 36%, 50%, 0.7);
    color: #FFF;
    vertical-align: middle;
    cursor: pointer;
}


/* Cover Section */

.cover {
    color: white;
    height: 28rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)), url(../assets/blog-background.jfif);
    filter: grayscale(100%);
    background-size: cover;
    background-position: center;
}

@font-face {
    font-family: GoldenPlains;
    src: url(../assets/golden-plains.ttf)
}

@font-face {
    font-family: Gotham;
    src: url(../assets/gotham-thin.otf)
}

@font-face {
    font-family: Gotham Book;
    src: url(../assets/Gotham-Light.otf);
}

.cover__text {
    text-align: center;
    margin-top: 4rem;
}

.cover__pretitle {
    font-family: GoldenPlains;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
}

.cover__title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-weight: bold;
    font-size: 3rem;
    line-height: 4rem;
    width: 70%;
}

.cover__subtitle {
    font-family: Gotham Book;
    font-size: 18px;
    line-height: 32px;
}


/* Work Section */

.work {
   position: relative;
    padding-top: 36px;
    padding-bottom: 200px;
}

.work__title {
    font-family: Gotham Book;
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
    margin-left: 5%;
}

.work__division {
    border-bottom: 8px solid #000;
    width: 15%;
    margin: 25px 0;
    display: none;
}

.work__menu-container {
    display: flex;
    width: 90%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 32px;
}

.work__menu-container p,
.work__menu-mobile-container p {
    font-family: Gotham Book;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    margin-right: 20px;
    margin-top: 8px;
}

.work__menu-container button {
    margin: 0;
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 0 5px;
    background-color: #F3F2F2;
    border: none;
    font-family: Gotham Book;
    font-size: 16px;
    line-height: 24px;
}

.work__menu-container button:hover,
.work__menu-container button:active {
    cursor: pointer;
    background-color: #000;
    color: #F3F2F2;
}

.work__menu-mobile-container {
    display: none;
}

.work__cards-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 32px;
    margin-left: 3.5%;
}

.work-card {
    width: 28%;
    height: 300px;
    background-color: #FFF;
    box-sizing: border-box;
    margin: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    filter: grayscale(100%);
    box-shadow: 0px 16px 16px rgba(82, 81, 76, 0.04);
    border-radius: 4px;
}

.work-card:hover {
    filter: grayscale(0%);
    transform: scale(1.15);
    transition: all ease 0.5s;
    box-shadow: 0px 16px 32px rgba(82, 81, 76, 0.16);
}

.work-card__image-container {
    width: 100%;
}

.work-card img {
    width: 100%;
    max-height: 192px;
}

.work-card .work-card__text-container {
    padding-left: 1rem;
    padding-top: 1rem;
}

.work-card .work-card__text-container .work-card__title {
    font-family: Playfair Display;
    font-weight: 400;
    font-size: 12px;
    line-height: 40px;
}

.work-card .work-card__text-container .work-card__description {
    font-family: Gotham Book;
    font-size: 16px;
    line-height: 24px;
}

.work .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work .see-more-button {
    padding: 0.6rem 2.5rem;
    background-color: #E5E5E5;
    color: #51AC6B;
    border: 2px solid #51AC6B;
    border-radius: 5px;
    font-family: Gotham Book;
    font-size: 18px;
    line-height: 22px;
    margin-top: 2rem;
    margin-bottom: 12rem;
}

.work .see-more-button:hover {
    cursor: pointer;
    color: #E5E5E5;
    background-color: #51AC6B;
}

.triangle-3 {
    width: 100%;
    height: 500px;
    background-color: #000;
    position: absolute;
    bottom: -1px;
    left: 0;
    clip-path: polygon(50% 100%, 0% 100%, 0 85%);
}

.triangle-4 {
    width: 100%;
    height: 500px;
    background-color: #000;
    position: absolute;
    bottom: -1px;
    right: 0;
    clip-path: polygon(50% 100%, 100% 100%, 100% 85%);
}


/* Footer section */

footer {
    height: 32rem;
    background-color: #000;
    position: relative;
    /* clip-path: polygon(50% 10%, 100% 0, 100% 99%, 0 100%, 0 0); */
}

footer .footer__image-container {
    width: 201px;
    height: 239px;
    border: 10px solid #000;
    position: absolute;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -110px;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #000;
    z-index: 100;
}

footer .footer__image-container img {
    width: 100%;
}

footer h1 {
    font-family: Playfair Display;
    color: #FFF;
    font-size: 48px;
    line-height: 72px;
    width: 100%;
    text-align: center;
    padding-top: 12rem;
}

footer .footer__logos-container {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

footer .footer__logos-container i {
    color: white;
    font-size: 20px;
    transition: all ease 0.5s;
}

footer .footer__logos-container i:hover {
    transform: scale(1.25);
    cursor: pointer;
}

footer .footer__logos-container div {
    height: 16px;
    border-left: 2px solid #FFF;
}

footer form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

footer .resume-button {
    padding: 0.6rem 2.5rem;
    color: #fff;
    background-color: #51ac6b;
    border: none;
    border-radius: 5px;
    font-family: Gotham Book;
    font-size: 18px;
    line-height: 22px;
    transition: all ease 0.5s;
}

footer .resume-button:hover {
    background-color: #000;
    color: #FFF;
    border: 2px solid #FFF;
    transform: scale(1.15);
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    /* Cover Tablet */
    .cover__pretitle {
        font-size: 1.2rem;
        line-height: 32px;
    }
    .cover__title {
        font-size: 2.5rem;
        line-height: 48px;
    }
    .cover__subtitle {
        font-size: 1rem;
        line-height: 48px;
    }
    /* Work Section Tablet */
    .work__title {
        font-size: 36px;
        line-height: 60px;
    }
    .work__menu-container button {
        font-size: 14px;
        /* line-height: 24px; */
    }
    .work__cards-container {
        margin-left: 4.5%;
    }
    .work-card {
        width: 40%;
        height: 300px;
    }
    .work .see-more-button {
        padding: 0.4rem 2rem;
        font-size: 16px;
    }
}


/* Responsive Desing Smarthphone*/

@media screen and (max-width: 600px) {
    /* Header Mobile */
    .main-header {
        display: inline-block;
        width: 100%;
        height: 83px;
        background-color: transparent;
        padding: 0;
        transition: all ease 0.5s;
    }

    .main-header i {
        display: inline-block;
        text-align: right;
        width: 10%;
        vertical-align: middle;
        height: 50px;
        cursor: pointer;
    }
    .main-header__brand {
        width: 70%;
        margin: 0;
        display: inline-block;
        margin: 10px 20px;
    }
    .main-header__brand img {
        margin-left: 0;
        margin-top: 10px;
    }
    .main-nav {
        display: none;
    }
    .main-header__cta {
        display: none;
    }
    .sticky {
        background-color: #000;
    }
    /* Cover Mobile */
    .cover {
        height: 25rem;
    }
    .cover__text {
        text-align: center;
        margin-bottom: 4rem;
        padding: 0 2rem;
        padding-top: 4rem;
    }
    .cover__pretitle {
        font-family: 'Dancing Script', cursive;
        font-size: 1.2rem;
        line-height: 32px;
    }
    .cover__title {
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 48px;
        width: 100%;
    }
    .cover__subtitle {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 48px;
    }
    /* Work Section Mobile */
    .work__title {
        margin-left: 10%;
        width: 50%;
        line-height: 36px;
    }
    .work__division {
        display: block;
        margin-left: 10%;
    }
    .work__menu-container {
        display: none;
    }
    .work__cards-container {
        justify-content: center;
        margin-left: 0;
    }
    .work-card {
        width: 80%;
    }
    .work__menu-mobile-container {
        display: block;
        margin-left: 10%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-self: start;
        align-items: flex-start;
    }
    .work__menu-mobile-container p {
        margin-right: 0;
        margin-bottom: 8px;
    }
    /* Footer Mobile */
    footer h1 {
        font-size: 32px;
    }
    footer .footer__logos-container {
        width: 35%;
    }
    footer .footer__logos-container i {
        font-size: 28px;
    }
}